<!DOCTYPE html>
<html lang="de">
<head>
  <title>b128.net <% h.rootToPage(page).forEach(function(curPage){ %> - <%= curPage.data.title %><% }) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if( d.meta && typeof(d.meta) === "object" ) { %>
    <% for(var key in d.meta) { %>
      <meta name="<%= key %>" content="<%= d.meta[key] %>" />
    <% } %>
  <% } %>
  <link href="<%= h.urlTo("static/style.css") %>" rel="stylesheet">
</head>
<body>
  <div id="head-wrapper">
    <div id="head">
      <ul>
        <% pages.forEach(function(curPage) { %>
          <li class="<% if( h.isActive(curPage) ) { %>active<% } %>">
            <a href="<%= h.urlTo(curPage) %>">
              <%= curPage.data.title %>
              <% if( 0 < curPage.childPages.length ) { %><span class="caret"></span><% } %>
            </a>
          </li>
        <% }) %>
      </ul>

      <% h.rootToPage(page).forEach(function(curPage) { %>
        <ul class="subnav">
          <% curPage.childPages.forEach(function(childPage) { %>
            <li class="<% if( h.isActive(childPage) ) { %>active<% } %>">
              <a href="<%= h.urlTo(childPage) %>">
                <%= childPage.data.title %>
                <% if( 0 < childPage.childPages.length ) { %><span class="caret"></span><% } %>
              </a>
            </li>
          <% }) %>
        </ul>
      <% }) %>
    </div>
  </div>

  <div id="content">
    <%- contents %>
  </div>

  <div id="foot-wrapper">
    <div id="foot">
      <a href="<%= h.urlTo("impressum.html") %>">Impressum</a> - <a href="<%= h.urlTo("datenschutzerklaerung.html") %>">Datenschutzerklärung</a>
    </div>
  </div>

  <script src="<%= h.urlTo("static/script.js") %>"></script>
</body>
</html>
