<!DOCTYPE html>
<html lang="de">
<head>
  <title>b128.net <% h.rootToPage(page).forEach(function(curPage){ %> - <%= curPage.data.title %><% }) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="<%= h.urlTo("static/style.css") %>" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% pages.forEach(function(curPage) { %>
            <li class="<% if( h.isActive(curPage) ) { %>active<% } %>">
              <a href="<%= h.urlTo(curPage) %>">
                <%= curPage.data.title %>
                <% if( 0 < curPage.childPages.length ) { %><span class="caret"></span><% } %>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>

      <% h.rootToPage(page).forEach(function(curPage) { %>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% curPage.childPages.forEach(function(childPage) { %>
              <li class="<% if( h.isActive(childPage) ) { %>active<% } %>">
                <a href="<%= h.urlTo(childPage) %>">
                  <%= childPage.data.title %>
                  <% if( 0 < childPage.childPages.length ) { %><span class="caret"></span><% } %>
                </a>
              </li>
            <% }) %>
          </ul>
        </div>
      <% }) %>
    </div>
  </div>
  <%- contents %>
  <div class="container">
    <hr />
    <a href="impressum.html">Impressum</a> - <a href="datenschutzerklaerung.html">Datenschutzerklärung</a>
  </div>
  <script src="<%= h.urlTo("static/script.js") %>"></script>
</body>
</html>
