<!DOCTYPE html>
<html lang="de">
<head>
  <%
  var breadCrumbs = page.getParents();
  breadCrumbs.push(page);
  %>
  <title><%= breadCrumbs.map(utils.getData).map(utils.getTitle).join(" - ") %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% for(var key in d.meta) { %>
    <meta name="<%= key %>" content="<%= d.meta[key] %>" />
  <% } %>
  <link href="<%= page.getUrl("static/style.css") %>" rel="stylesheet">
</head>
<body>
  <div id="header-wrapper">
    <header>
      <ul>
        <li class="<% if( page === root ) { %>active<% } %>">
          <a href="<%= page.getUrl(root) %>">Startseite</a>
        </li>
        <% root.getChildren().forEach(function(p) { %>
          <li class="<% if( page.isActive(p) ) { %>active<% } %><% if( 0 < p.children.length ) { %> has-children<% } %>">
            <a href="<%= page.getUrl(p) %>"><%= p.data.title %></a>
          </li>
        <% }) %>
      </ul>

      <%
      var subMenues = page.getParents().slice(1);
      if( page.isIndex && page != root )
        subMenues.push(page);
      %>
      <% subMenues.forEach(function(p) { %>
        <% if( p.children.length ) { %>
          <ul class="subnav">
            <% p.getChildren().forEach(function(childP) { %>
              <li class="<% if( page.isActive(childP) ) { %>active<% } %><% if( 0 < childP.children.length ) { %> has-children<% } %>">
                <a href="<%= page.getUrl(childP) %>"><%= childP.data.title %></a>
              </li>
            <% }) %>
          </ul>
        <% } %>
      <% }) %>
    </header>
  </div>

  <div id="content">
    <%- contents %>
  </div>

  <div id="footer-wrapper">
    <footer>
      <a href="<%= page.getUrl("page:/impressum") %>">Impressum</a> - <a href="<%= page.getUrl("page:/datenschutzerklaerung") %>">Datenschutzerklärung</a> - Powered by <a href="https://github.com/t128/gulp-website-builder">gulp-website-builder
</a>
    </footer>
  </div>

</body>
</html>
