{
  "title": "Startseite"
}
#####
<div class="container">
  <h1>cjdns <small>- HowTos</small></h1>
  <div class="row">
    <div class="col-md-4">
      <h2><small>1.</small>Was ist cjdns?</h2>
      <p>Welche Vorteile und Nachteile bietet mir cjdns?</p>
      <p><a class="btn btn-default" href="<%= h.urlTo("cjdns/index.html") %>" role="button">ansehen &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2><small>2.</small>cjdns installieren</h2>
      <p>In diesem Tutorial möchte ich erklären, wie man cjdns installiert und danach zum ersten Mal startet.</p>
      <p><a class="btn btn-default" href="<%= h.urlTo("cjdns/installation.html") %>" role="button">ansehen &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2><small>3.</small>cjdns automatisch starten</h2>
      <p>Bisher haben wir cjdns immer nur manuell gestartet, jetzt soll sich das ändern.</p>
      <p><a class="btn btn-default" href="<%= h.urlTo("cjdns/autostart.html") %>" role="button">ansehen &raquo;</a></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <h2><small>4.</small>cjdns: absichern des Rechners mit einer Firewall</h2>
      <p>Eine Firewall schützt unseren Rechner vor Zugriffen von Außen. Hier wird erklärt, wie diese einzurichten ist.</p>
      <p><a class="btn btn-default" href="<%= h.urlTo("cjdns/firewall.html") %>" role="button">ansehen &raquo;</a></p>
    </div>
  </div>
</div>
