<!DOCTYPE html>
<html lang="de">
<head>
  <title>b128.net - <%= meta.title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="<%= h.urlTo("static/style.css") %>" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <% for(var mk in menus) { var menu = menus[mk]; %>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% for(var k in menu) { var menuEntry = menu[k]; %>
              <li class="<% if( menuEntry.active ) { %>active<% } %>">
                <a href="<%= h.urlTo(menuEntry.linkUrl) %>">
                  <%= menuEntry.title %>
                  <% if( menuEntry.isFolder ) { %><span class="caret"></span><% } %>
                </a>
              </li>
            <% } %>
          </ul>
        </div>
      <% } %>
    </div>
  </div>
  <%- contents %>
  <div class="container">
    <hr />
    <a href="impressum.html">Impressum</a> - <a href="datenschutzerklaerung.html">Datenschutzerklärung</a>
  </div>
  <script src="<%= h.urlTo("static/script.js") %>"></script>
</body>
</html>
